{% extends "main/base.html" %}

{% load static %}

{% block content %}

 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	  <div class="container-full">

		<!-- Main content -->
		<section class="content justify-content-center align-items-center">
			<div class="row justify-content-center align-items-center">

				<div class="col-lg-4 col-12">

					<div class="box">
						<h3 class="text-center">Receive</h3><br />

						<div class="box-body" >
							<p>Address: {{ app_user.wallet_address }}</p>

						</div>

		</section>
		<!-- /.content -->
	  </div>
  </div>
  <!-- /.content-wrapper -->


{% endblock %}


