{% extends "main/base.html" %}

{% load static %}

{% block content %}

 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	  <div class="container-full">

		<!-- Main content -->
		<section class="content justify-content-center align-items-center">
			<div class="row justify-content-center align-items-center">

				<div class="col-lg-4 col-12">

					<div class="box">
						<h3 class="text-center">Send Iotexchart</h3><br />

						<div class="box-body" >
							<form method="post">
								{% csrf_token %}
							<div class="form-group">
								<label class="form-label">Recepient's Address</label>
								 <input name="address" class="form-control" type="text" placeholder="address">
							</div>
							<div class="form-group">
								<label class="form-label">Amount</label>
								 <input name="amount" class="form-control" type="number" placeholder="Amount">
							</div>
							
							<button type="submit" class="waves-effect waves-light btn mb-5 bg-gradient-success justify-content-center; align-items-center" style="width:360px">Send</button>
							<p class="mt-15 mb-0">please make sure the recepient is on the IoTex network, if you are sending to an exchange account, please verify that it is accepting assets on IoTex network.</p>
						</form>
						</div>

		</section>
		<!-- /.content -->
	  </div>
  </div>
  <!-- /.content-wrapper -->


{% endblock %}


