{% extends "main/base.html" %}

{% load static %}

{% block content %}

 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	  <div class="container-full">

		<!-- Main content -->
		<section class="content justify-content-center align-items-center">
			<div class="row justify-content-center align-items-center">

				<div class="col-lg-4 col-12">

					<div class="box">
						<h3 class="text-center">Sign In</h3><br />

						<div class="box-body" >
							<form method="post">
								{% csrf_token %}
							<input type="email" name="username" placeholder="Email Address"><br />
							<input type="password" name="password" placeholder="Password"><br />
							<br /><br />

							<button type="submit" class="waves-effect waves-light btn mb-5 bg-gradient-warning justify-content-center; align-items-center" style="width:360px">Sign In</button>
						</form>
						</div>

		</section>
		<!-- /.content -->
	  </div>
  </div>
  <!-- /.content-wrapper -->


{% endblock %}


