{% extends "main/base.html" %}
{% load static %}

{% block content %}
<!-- Content Wrapper. Contains page content -->
<style type="text/css">
				/*-----------------------------
  Countdown-timer
-----------------------------*/
.Countdown-timer .item {
  display: inline-block;
  text-align: center;
  margin: 0 0.5rem;
}
.Countdown-timer .item span {
  font-size: 15px;
  font-weight: 600;
  color: #fff;
}
.Countdown-timer .item p {
  color: #6c7a87;
  font-size: 10px;
  text-transform: capitalize;
}
.Countdown-timer .cuot {
  position: absolute;
  font-size: 15px;
  color: #0b2238;
}
			</style>
  <div class="content-wrapper">
	  <div class="container-full">
		<!-- Main content -->
		<section class="content">
			<div class="row">
				
				
				<div class="col-12">														
					<div class="box no-shadow mb-0 bg-transparent">
						<div class="box-header no-border px-0">
							<h4 class="box-title">My Dashboard</h4>	
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-12">
					<div class="box pull-up">
						<div class="box-body d-flex">
							
							<div class="d-flex flex-column flex-grow-1">
								<h5 class="box-title font-size-16 mb-2">Total Staked</h5>
								<a href="#">{{ total_staked }} Iotexchart</a>
								<p></p>
								<p></p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-12">
					<div class="box pull-up">
						<div class="box-body d-flex ">
							
							<div class="d-flex flex-column flex-grow-1">
								<h5 class="box-title font-size-16 mb-2">Compount APY</h5>
								<a href="#">15%</a>
								<p></p>
								<p></p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-12">
					<div class="box pull-up">
						<div class="box-body d-flex ">
							
							<div class="d-flex flex-column flex-grow-1">
								<h5 class="box-title font-size-16 mb-2">
									Wallet:
									<small>
										<a href="{% url 'wallet:index' %}">({{ wallet_address }})</a>
									</small>
								</h5>
								<a href="#">Iotex: {{ bnb_balance.balance }}</a>
								<a href="#">Iotexchart: {{ bep_balance.balance }}</a>
								<p></p>
							</div>
						</div>
					</div>
				</div>
				


			</div>


			<div class="box">

				<div class="col-12">														
					<div class="box no-shadow mb-0 bg-transparent">
						<div class="box-header no-border px-0">
							<h4 class="box-title">Staking History</h4>	
							<a href="{% url 'staking:stake' %}" class="waves-effect waves-light btn  bg-gradient-primary">Add New</a>
						</div>
					</div>
				</div>
				
				<!-- /.box-header -->
				<div class="box-body no-padding">
					<div class="table-responsive">
					  <table class="table table-hover">
						<tr>
						  <th>Stakes</th>
						  <th>Durations</th>
						  <th>Returns</th>
						  <th>Action</th>
						  
						</tr>

						{% if my_stakes %}

							{% for item in my_stakes %}
								<tr>
									<td>
										<h3>{{ item.amount }}</h3>
										<br />
										{{ item.pub_date }}
										<br />
										Status: {{ item.payment_confirmation_status }}
									</td>
									<td>{{ item.duration }}</td>
									<td>
										<h3>{{ item.returns }}</h3>
										<br />
										{{ item.due_date }}
										<br />
										Status: {{ item.closed_status }}
									</td>
									<td>
											Status: {{ item.request_payment_status }}<br />
											<a href="{% url 'staking:request_payment' item.id %}" class="waves-effect waves-light btn  bg-gradient-primary">Request Returns</a></td>

								</tr>
							{% endfor %}


						{% else %}

							<p>Sorry, No Stake yet!,  <a href="{% url 'staking:stake' %}">Stake Now!</a></p>

						{% endif %}

					</table>
				</div>
			</div>
									
			</div>
		</div>
	</div>
	
</section>
<!-- /.content -->


  </div>
</div>
<br><br><br>



 {% endblock %}