{% extends "main/base.html" %}
{% load static %}

{% block content %}
<!-- Content Wrapper. Contains page content -->
<style type="text/css">
				/*-----------------------------
  Countdown-timer
-----------------------------*/
.Countdown-timer .item {
  display: inline-block;
  text-align: center;
  margin: 0 0.5rem;
}
.Countdown-timer .item span {
  font-size: 15px;
  font-weight: 600;
  color: #fff;
}
.Countdown-timer .item p {
  color: #6c7a87;
  font-size: 10px;
  text-transform: capitalize;
}
.Countdown-timer .cuot {
  position: absolute;
  font-size: 15px;
  color: #0b2238;
}
			</style>
  <div class="content-wrapper">
	  <div class="container-full">
		<!-- Main content -->
		<section class="content">
			<div class="row">
				
				
				<div class="col-12">														
					<div class="box no-shadow mb-0 bg-transparent">
						<div class="box-header no-border px-0">
							<h4 class="box-title">My Dashboard</h4>	
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-12">
					<div class="box pull-up">
						<div class="box-body d-flex">
							
							<div class="d-flex flex-column flex-grow-1">
								<h5 class="box-title font-size-16 mb-2">Total Staked</h5>
								<a href="#">2000 Iotexchart</a>
								<p></p>
								<p></p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-12">
					<div class="box pull-up">
						<div class="box-body d-flex ">
							
							<div class="d-flex flex-column flex-grow-1">
								<h5 class="box-title font-size-16 mb-2">Compount APY</h5>
								<a href="#">15%</a>
								<p></p>
								<p></p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-12">
					<div class="box pull-up">
						<div class="box-body d-flex ">
							
							<div class="d-flex flex-column flex-grow-1">
								<h5 class="box-title font-size-16 mb-2">Wallet</h5>
								<a href="#">balance 1</a>
								<a href="#">balance 2</a>
								<p></p>
							</div>
						</div>
					</div>
				</div>
				


			</div>


			<div class="box">

				<div class="col-12">														
					<div class="box no-shadow mb-0 bg-transparent">
						<div class="box-header no-border px-0">
							<h4 class="box-title">Staking History</h4>	
						</div>
					</div>
				</div>
				
				<!-- /.box-header -->
				<div class="box-body no-padding">
					<div class="table-responsive">
					  <table class="table table-hover">
						<tr>
						  <th>Dates</th>
						  <th>Stakes</th>
						  <th>Returns</th>
						  <th>Due Dates</th>
						  <th>Status</th>
						  
						</tr>

						<tr>
							<td>sdsdsd</td>
							<td>sdsdsd</td>
							<td>sdsdsd</td>
							<td>sdsdsd</td>
							<td>sdsdsd</td>

						</tr>
						<tr>
							<td>sdsdsd</td>
							<td>sdsdsd</td>
							<td>sdsdsd</td>
							<td>sdsdsd</td>
							<td>sdsdsd</td>

						</tr>
						<tr>
							<td>sdsdsd</td>
							<td>sdsdsd</td>
							<td>sdsdsd</td>
							<td>sdsdsd</td>
							<td>sdsdsd</td>

						</tr>
						<tr>
							<td>sdsdsd</td>
							<td>sdsdsd</td>
							<td>sdsdsd</td>
							<td>sdsdsd</td>
							<td>sdsdsd</td>

						</tr>


					</table>
				</div>
			</div>







									
			</div>
		</div>
	</div>
	
</section>
<!-- /.content -->


  </div>
</div>
<br><br><br>



 {% endblock %}